article.display-tweet {
  background-color: #f4f1ec;
  border: 5px solid #545149;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 200;
}

article.display-tweet:hover {
  box-shadow: 10px 0 10px -2px #888;
  text-shadow: 1px 1px #888;
}

article.display-tweet:hover .handler {
  opacity: 95;
}

.display-tweet-header {
  background-color: #f4f1ec;
  padding-top: 10px;
  height: 100px;
  width: 95%;
  margin: auto;
}

.profile-image {
  display: flex;
  justify-content: space-between;
}

.name-and-image {
  display: flex;
}

.handler {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 3;
  opacity: 0;
}

.display-tweet-image {
  flex: display;
}

.display-tweet-text {
  flex: display;
  justify-content: center;
  word-break: break-all;
  width: 95%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: solid #545149;
}

.display-tweet-date-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-date {
  display: flex;
  flex: 1;
  padding-left: 40px;
}

.tweet-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  padding-right: 40px;
}