.header-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10vw;
  background-color: #e09500;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
    
}
.image {
  justify-content: center;
  align-items: center;

}

.name {
  color: #FFFFFF;
} 

@media only screen and (min-width: 1024px) {
  .header-background {
    margin-right: 9.55%;
    margin-top: 243px;
    width: 30%;
    height: 400px;
    padding-top: 3%;
    margin-left: 3%;
  }
}